---
layout: default
title: Home
---

<div id="home">
  <ul>
    {% assign posts_by_category = site.posts | group_by:"category" %}
    {% for category in posts_by_category %}
    <li>
      <h3>{{category.name}}</h3>
      <ul class="posts">
        {% for post in category.items %} 
        <li>
          <span>{{ post.date | date_to_string }}</span> &raquo;
          <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </li>
    {% endfor %}
  </ul>
</div>