---
layout: default
title: Dhanesh Arole blog
paginate: true
---

<div id="home">
  <ul id="post-list">
    {% for post in paginator.posts %}
    <li>
      <div class="post">
        <a class="link" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        <div class="description"><blockquote>{{ post.description }}</blockquote></div>
        <div class="metainfo">
          <div><span class="category">[ {{ post.category }} ]</span></div>
          <div><span class="date">{{ post.date | date_to_string }}</span></div>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
  <div id="paginator-data">
    {% include paginator_data.html %}
  </div>
</div>
<div>
  {% include page-footer.html %}
</div>