---
layout: homepage
title: Tech essays
---

<div id="home">
  <ul id="post-list">
    {% for post in paginator.posts %}
    <li>
      <div class="post">
        <a class="link" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        <div class="description"><blockquote>{{ post.description }}</blockquote></div>
        <div class="metainfo">
          <div>
            <span class="category">[ {{ post.category }} ]</span>
            <span class="date">{{ post.date | date_to_string }}</span>
          </div>
        </div>
      </li>
      <hr>
      {% endfor %}
    </ul>
    <div id="paginator-data">
      {% include paginator_data.html %}
    </div>
  </div>
